<%- include('../partials/header'); %>

<main class="main main-port container text-center">
    <h2 class="main-h2">
        <%= name %>
    </h2>
    <section class="section section-port">
        <div class="row">
            <% data.forEach(item => { %>
                <div class="col-md-3">
                    <figure class="figure figure-port">
                        <a href="/wines/port/<%= item.id %>">
                            <img src="<%= item.image %>" alt="<%= item.wine %>" class="img-fluid wine-image">
                            <figcaption class="figcation figcap-port">
                                <%= item.wine %>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            <% }) %>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>